[Desktop Entry]
Type=Application
Name=MacroNova
Comment=Macro daemon for Logitech devices
Exec=macronova-gui
Icon=macronova
Terminal=false
Categories=Utility;Settings;
Keywords=macro;mouse;keyboard;logitech;
StartupWMClass=MacroNova
